@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Nunito:wght@400;700&family=Poppins:wght@100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: hsl(233, 47%, 7%);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	display: flex;
	height: 60px;
	background-color: hsl(244, 38%, 16%);
    align-items: center;
	justify-content: space-around;
	padding: 1rem 0;
	align-items: center;
	width: 100%;
	top: 0;
	position: fixed;
	overflow: hidden;
	z-index: 100;
	
}



.header_logo {
	color: darksalmon;
	font-size: 25px;
	font-weight: 600;
}

.nav {
	animation: 1s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

.list-part {
	display: flex;
	flex-wrap: wrap;
	gap: 150px
}

.nav_list {
	display: flex;
	align-items: center;
}

.nav_item {
	margin: 0 8px;
	
}

header .nav .nav_list .nav_item .nav_link {
	position: relative;
	padding: 10px 15px;
	color: darksalmon;
	font-size: 1rem;
	font-weight: bold;
}

header .nav .nav_list .nav_item .nav_link:after {
	content: "";
	position: absolute;
	background-color: red;
	height: 2px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

header .nav .nav_list .nav_item .nav_link:hover:after {
	width: 100%;
}

.header_toggle,
.header_close {
	display: none;
}

.firstsection {
	margin-top: 100px;
	height: auto;
}



#mainsection {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 30% 30%;
	grid-template-rows: auto auto;
	grid-gap: 20px;
	justify-content: center;
}

.foto img {
	width: 100%;
	height: auto;
	border: 2px solid darksalmon;
	animation-delay: 2.5s;
	animation: fadeIn 5s;
	-webkit-animation-delay: 2.5s;
	-webkit-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    
    }

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    
    }

	100% {
		opacity: 1;
	}
}


.bio {
	margin-top: -15px;
	padding-left: 10px;
	text-justify: distribute;
	animation: fade linear 5s;
}

.bio .pbio {
	line-height: 1.8rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    
    }

	100% {
		opacity: 1;
	}
}


h1 {
	margin-top: 50px;
	padding-top: 30px;
	text-align: center;
}

h1,
h2 {
	color: darksalmon;
}
p {
	color: linen;
}
p {
	padding: 10px 0;
	text-align: start;
	line-height: 2rem;
}

.services {
	width: 100%;
	height: auto;
	background-color: hsl(244, 38%, 16%);
}

#flex-service {
	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-rows: auto auto;
	justify-content: center;
	grid-gap: 30px;
	position: relative;
	padding-top: 20px;
	animation-delay: 5s;
	animation: slideContent .4s linear .6s backwards;
}
@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

.flex-serv {
	background-color: hsl(233, 47%, 7%);
	/* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	margin: 10px;
	position: relative;
	
}


.serv-list {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.serv-list-bullet {
	height: 5px;
	width: 5px;
	border-radius: 50px;
	background-color: red;
}


.flex-serv li {
	color: blueviolet;
	list-style: none;
	padding: 5px 20px;
	font-weight: bold;
}

.angle {
	position: absolute;
	height: 0;
	width: 0;
	left: -40px;
	border: 25px solid transparent;
	border-right-color: hsl(233, 47%, 7%);;
	z-index: 1;
}





.last {
	margin-bottom: 50px;
}
.icons {
	padding: 20px 0 0 30px;
	margin-bottom: 10px;
}

.serv,
h4 {
	padding: 10px 20px 20px 20px;
	justify-content: center;
	color: linen;
}

.skills {
	height: 500px;
}

.grid-container {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-rows: auto auto auto auto;
	justify-content: center;
	grid-gap: 7px;
	margin-top: 50px;
}

.grid-item {
	background-color: hsl(244, 38%, 16%);
	border: 1px solid rgba(0, 0, 0, 0.8);
	height: 125px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}


.portfolio {
	width: 100%;
	height: 600px;
	background-color: hsl(244, 38%, 16%);
}

.mainportfolio {
	display: grid;
	grid-template-columns: 25% 25% 25%;
	margin: 30px auto;
	gap: 20px;
	justify-content: center;
}

.folio {
	background-color: hsl(233, 47%, 7%);
	height: 200px;
	position: relative;
}

.portfolio .mainportfolio {
	margin-top: 40px;
}

.image {
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: hsl(233, 47%, 7%);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}

.overlay2 {
	position: absolute;
	bottom: 0;
	left: 0;
	/* right: 0; */
	overflow: hidden;
	width: 0;
	background-color: white;
	height: 40px;
	
}

.folio:hover .overlay {
	bottom: 0;
	height: 100%;
}

.folio:hover .overlay2 {
	width: 100px;
	transition: 0.5s ease;
	transition-delay: 0.5s;
}

.text {
	white-space: nowrap;
	color: linen;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	text-align: center;
	padding-bottom: 40px;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon1 {
	position: absolute;
	overflow: hidden;
	top: 20%;
	left: 15%;
	bottom: 20%;
}

.icon {
	position: absolute;
	overflow: hidden;
	top: 23%;
	left: 60%;
	bottom: 20%;
}

.testimonial {
	width: 100%;
	height: auto;
	background-color: hsl(233, 47%, 7%);
}

.testimonial .container {
	position: relative;
}

.testimonial .container .slide-container {
	margin-left: 100px;
}



.testimonial .container .slide-container .slide {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
	padding: 20px 9%;
	padding: 70px;
}

.testimonial .container .slide-container .slide .content {
	flex: 1 1 350px;
	animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

.testimonial .container .slide-container .slide .image {
	flex: 1 1 500px;
}

.testimonial .container .slide-container .slide .image img {
	width: 50%;
	animation: slideImage .4s linear;
}


@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.testimonial .container .slide-container .slide .content h5 {
	color: white;
	text-align: center;
}

.testimonial .container .slide-container .slide .content p {
	font-size: 16px;
	color: linen;
	padding: 30px 0;

}

.testimonial .container .slide-container {
	display: none;
}

.testimonial .container .slide-container.acctive {
	display: block;
}

.container #prev,
.container #next {
	position: absolute;
    bottom: -5%;
    /* transform: translateY(-50%); */
    background: hsl(244, 38%, 16%);
	border-radius: 50%;
	height: 50px;
	width: 50px;
    padding: 15px;
    cursor: pointer;
}

.container #prev:hover,
.container #next:hover {
    background: #666;
}

.container #prev {
    left: 45%;
}

.container #next {
    right: 45%;
}

#contact {
	width: 100%;
	height: 750px;
	background-color: hsl(244, 38%, 16%);
}

.contactme {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto auto;
	grid-gap: 10px;
	justify-content: center;
	padding-top: 20px;
}

.cont {
	padding: 20px;
}

.GA {
	/* position: relative; */
}

.location {
	display: flex;
	margin: 50px 0 90px 0;
}

.contactP {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 20px;
	color: bisque;
}

.telephone {
	display: flex;
	margin-bottom: 80px;
}

.telephonep {
	padding-left: 20px;
	font-size: 20px;
	color: bisque;
}

.mailme {
	margin-top: 70px;
	display: flex;
}

.mail {
	padding-left: 20px;
	font-size: 20px;
	color: bisque;
}

.GB {
	/* position: relative; */
}

label {
	color: bisque;
	font-size: 17px;
}

.myinput {
	margin-top: 10px;
    display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	border: 1px solid white;
	border-radius: 4px;
	background-color: white;
	padding-left: 20px;
	height: 40px;

}

.nooutline:focus{
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}


input[type="text"],
[type="email"] {
	border: none;
	outline: none;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border-radius: 4px;
	background-color: white;
	box-sizing: border-box;
}

.textarea {
	width: 100%;
	margin: 8px 0;
	height: 200px;
	padding: 12px 20px;
	resize: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
}

#message {
	height: 150px;
}

input[type="submit"] {
	width: 100%;
	background-color: hsl(233, 47%, 7%);
	color: darksalmon;
	padding: 14px 20px;
	margin: 8px 0;
	font-size: large;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: hsl(229, 73%, 14%);
}

.tc {
	display: flex;
	justify-content: center;
}

.flextc {
	padding: 10px 20px 7px 20px;
}

.flextcy:hover {
	color: darksalmon;
}

footer {
	background-color: hsl(233, 47%, 7%);
	width: 100%;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	header {
		height: 48px;
		justify-content: space-between;
		padding: 0 28px;
	}

	.list-part {
		display: flex;
		flex-direction: column;
		gap: 0;
		
	}

	.logo a {
		font-size: 25px;
		color: darksalmon;
	}

	.logo img {
		width: 30px;
	}

	.header_toggle {
		display: inline;
		color: darksalmon;
		font-size: 30px;
		transition: 0.5s;
	}

	.header_toggle:hover {
		transform: rotate(90deg);
	}

	.header_close {
		position: absolute;
		color: darksalmon;
		right: 24px;
		display: block;
		font-size: 24px;
		border-radius: 50%;
		transition: .5s;
	}

	.header_close:hover {
		transform: rotate(90deg);
		background-color: rgb(155, 55, 22);
		opacity: 0.7;
	}

	.nav {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: hsl(244, 38%, 16%);
		color: #eeee;
		width: 60%;
		height: 100vh;
		padding: 24px 0;
		z-index: 100;
		transition: 0.5s;
		border-radius: 0 0 0 0;
	}

	.nav_list {
		display: flex;
		flex-direction: column;
		transition: 0.7s;
	}
	.nav_item {
		margin: 2rem 0;
	}

	.show {
		right: 0;
	}

	.firstsection {
		height: auto;
	}

	#mainsection {
		grid-template-columns: 100%;
		justify-content: center;
	}

	.foto {
		margin: 0 20px;
	}

	.pbio {
		margin-top: 40px;
		text-align: center;
		padding: 0 20px;
	}

	.services {
		height: auto;
	}

	.service-wrapper {
		display: grid;
		grid-template-columns: 10% 90%;
		gap: 10px;
	}

	.line {
		width: 5px;
		height: 100%;
		background-color:  hsl(233, 47%, 7%);
		margin-left: 20px;
	}

	.line-circle {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: hsl(233, 47%, 7%);
		padding: 5px;
		margin-left: -13px;
		margin-bottom: 200px;
	}


	.line-circle.one {
		margin-top: 40px;
	}

	.line-circle.two {
		margin-top: 575px;
	}

	.line-circle.three {
		margin-top: 690px;
	}

	.extra-line {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: red;
	}
	#flex-service {
		grid-template-columns: 90%;
		grid-template-rows: auto;
	
	}

	.last {
		margin-bottom: 50px;
	}

	.skills {
		height: auto;
	}
	.grid-container {
		grid-template-columns: 40% 40%;
		grid-template-rows: auto auto;
	}
	.GA {
		display: none;
		position: absolute;
		overflow: hidden;
	}

	.GB {
		display: block;
		position: absolute;
		width: 100%;
	}

	.portfolio {
		height: auto;
	}

	.mainportfolio {
		margin: 0 50px;
		grid-template-columns: 100%;
	}

	.portfolio .mainportfolio .folio6 {
        margin-bottom: 70px;
	}
	.portfolio .mainportfolio .folio {
		height: 250px
	}

	.testimonial .container .slide-container {
		margin-left: 0;
	}
	.testimonial .container .slide-container .slide .content p{
		text-align: center;

	}
	.testimonial .container .slide-container .slide .content h5{
		text-align: center;

	}

	.testimonial .container .slide-container .slide .image {
		flex: 1 1 250px;
	}
	
	.testimonial .container .slide-container .slide .image img {
		width: 100%;

	}
.container #prev,
.container #next {
	top: 40%;
}

.container #prev {
	left: 0;
}

.container #next {
	right: 0;
}



}
